.container {
  /* border: 1px solid black; */
  display: flex;
  /* align-items: flex-start; */

  flex-direction: column;
  padding: 1rem;
  margin: 1rem 2rem;
  transition: all 0.2s linear;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px 1px rgb(238, 238, 238);
  transition: all 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 7px -10px 2px 5px rgb(247, 247, 247);
  /* background: rgb(168, 168, 168); */
}
.bu-name {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.count {
  /* background: brown; */
  /* border: 1px solid red; */
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card-btn {
  padding: 0.8rem 1.4rem;
  background-color: rgb(255, 87, 81);
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  /* border-radius: 2rem; */
  cursor: pointer;
  width: 100%;
}
/* 
.card-img{
 

} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;
  overflow: hidden;
}
