.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  padding: 4rem;
  gap: 2rem;
}
.footer-links {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}
.footer-link {
  padding: 0.5rem 2rem;
  border-right: 1px solid rgb(255, 72, 72);
  font-size: clamp(10px, 5vw + 1%, 16px);
  color: rgb(105, 105, 105);
  transition: all 0.2s linear;
  cursor: pointer;
  text-decoration: none;
}
.footer-link:hover {
  color: rgb(255, 255, 255);
}

.footer-message {
  color: rgb(221, 221, 221);
  font-size: 0.8rem;
  font-weight: 400;
}

@media screen and (max-width:39.9375em){
  .footer-links {
    flex-direction: column;
    gap: 1em;
  }
  .footer-link{
    border-bottom:1px solid rgb(255, 72, 72);
    border-right: none;
    text-align: center;

  }
}