.carrousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 4rem;
  /* border: 1px solid greenyellow; */
  /* background-color: rgb(250, 189, 189); */
  padding-top: 3rem;
}
.slider-btn {
  background-color: rgb(255, 47, 47);
  color: white;
  border: none;
  padding: 0 1rem;
  font-size: 3rem;
  /* transform: scale(1.8); */
  border-radius: 0.8rem;
}
.slides-container {
  /* border: 1px solid rgb(47, 95, 255); */
  margin: 1rem 0;
}
.slider-img {
  width: 70vw;
  height: 70vh;
  object-fit: contain;
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
}

.active-slide {
  display: block;
  cursor: pointer;
  animation: slide 1s linear 0s 1;
  opacity: 1;
}

@keyframes slide {
  from {
    transform: translateX(1rem);

    opacity: 0;
  }
}
